:root {
    --white: #ffffff;
    --blue: #A6E3FF;
    --light-green: #58CC02;
    --green: #58CC02;
    --dark-green: #429403;
    --yellow: #FFC800;
    --red: #FC4848;
    --grey: #F9F9F9;
    --dark-grey: #A9A9A9;

    --sm: 16px;
    --md: 20px;
    --lg: 28px;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*200 to 1000*/
    font-style: normal;
}
b {
    font-weight: 800;
}