:root {
    --white: #ffffff;
    --blue: #A6E3FF;
    --light-green: #D7FFB8;
    --green: #58CC02;
    --dark-green: #429403;
    --yellow: #FFC800;
    --light-red: #ffbfbf;
    --red: #FC4848;
    --grey: #F9F9F9;
    --light-grey: #E5E5E5;
    --dark-grey: #A9A9A9;

    --xxs: 2px;
    --xs: 8px;
    --sm: 16px;
    --md: 20px;
    --lg: 28px;
    --xlg: 50px;
    --xxlg: 100px;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*200 to 1000*/
    font-style: normal;
    margin: 0;
    padding: 0;
}
b {
    font-weight: 800;
}
body {
    min-height: 100vh;
}