.QuestionSubmitButton{  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: var(--xxlg);
    padding-bottom: var(--sm);
    
}   
.QuestionSubmitButton h2{
    color: var(--dark-green);
    font-weight: 800;
    margin-bottom: var(--xs);
}

.QuestionSubmitButton h2.variant-danger{
    color: var(--red);
    font-weight: 800;
    margin-bottom: var(--xs);
}

.QuestionSubmitSuccess {
    background-color: var(--light-green);
}

.QuestionSubmitFail {
    background-color: var(--light-red);
}