button {
    height: 50px;
    min-width: 375px;
    border-radius: 12px;
    border: none;
    color: var(--white);
    background-color: var(--green);

    font-size: var(--md);
}

button:active {
    background-color: var(--dark-green);
}

button:hover {
    cursor: pointer;
}